:root {
    --off-white: #FAF9F6;
    --light-gray: #AAAAAA;
    --slate-gray: #2D2D2D;
    --dark-gray: #1C1C1C;
    --crab-orange: #D35400;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html {
    background-color: var(--slate-gray);
    overflow: hidden;
}
