<nav class="nav-container">
    <section class="item" id="logo">
        logo
    </section>
    <section class="nav-items">
        <div class="item" id="nav-items">
            <a href="/">Home</a>
        </div>
        <div class="item" id="git">
            <a mat-flat-button
               href="https://github.com/alexeiddg/RustyCrab-Scraper"
               style="background-color: coral; display: flex; flex-direction: row; align-items: center;"
            >
                <app-github-icon></app-github-icon>
                <div style="color: white; margin-left: 32px;">Source Code</div>
            </a>
        </div>
    </section>
</nav>
