<section class="container">
    <!-- -->
    <div class="left-side">
        <div class="content-left">
            <!-- -->
            <h1 style="margin-bottom: 12px">
                Unleash the power of <br> our web scraper
            </h1>
            <!-- -->
            <p style="margin: 0 24px 12px 24px">
                This is the description of the tool, currently I do not feel
                like writing it !
            </p>
            <!-- -->
            <div class="button-container">
                <button class="button-style-1">Scrape</button>
                <button style="background-color: transparent">Learn More</button>
            </div>
        </div>
    </div>
    <!-- -->
    <div class="right-side">
        <div class="content-right">
            <!-- -->
            <div class="webloader">
                web loader
            </div>
            <!-- -->
            <form class="" role="search">
                <div class="">
                    <label class="" for="query1">
                        <input type="text" id="query1" name="query1" class="search-input" placeholder="Input field 1" required>
                    </label>
                    <label class="" for="query2">
                        <input type="text" id="query2" name="query2" class="search-input" placeholder="Input field 2" required>
                    </label>
                </div>
                <div class="submit-container">
                    <button type="submit" class="submit-button"><span>Submit</span></button>
                </div>
            </form>
        </div>
    </div>
</section>