<section class="container">
    <!-- -->
    <div class="left-side">
        <div class="content-left">
            <!-- -->
            <h1 style="margin-bottom: 12px">
                Unleash the power of <br> our web scraper
            </h1>
            <!-- -->
            <p style="margin: 0 24px 12px 24px">
                This is the description of the tool, currently I do not feel
                like writing it !
            </p>
            <!-- -->
            <div class="button-container">
                <button class="button-style-1">Scrape</button>
                <button style="background-color: transparent">Learn More</button>
            </div>
        </div>
    </div>
    <!---->
    <div class="right-side">
        <div class="content-right">
            <!-- -->
            <div class="webloader">
                web loader
            </div>
            <!-- -->
            <div class="text-container">
                <h4 style="font-size: 22px; margin-bottom: 0">Ask a website any question</h4>
                <p style="margin: 8px 0">Ask Questions like:</p>
            </div>
            <!---->
            <form role="search">
                <div class="form-content">
                    <label for="urlQuery">
                        <input type="text" id="urlQuery" name="urlQuery" placeholder="Enter The website URL" required>
                    </label>
                    <label for="nlpQuery">
                        <input type="text" id="nlpQuery" name="nlpQuery" placeholder="Enter your question or query" required>
                    </label>
                </div>
                <button type="submit" class="form-button">Submit</button>
            </form>
        </div>
    </div>
</section>